*{margin:0px; padding: 0px;}

.header, .footer {
    background-color: purple;
}

.header a {
    color: white;
    line-height: 50px;
}

.header-link {
    line-height: 40px;
}

.link {
    color: white;
    padding: 15px;
}

.link-active {
    background-color: orangered;
    color: white;
}
